body {
    margin: 0px;
}

/*Section-one*/

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    margin-bottom: 50px;
    display: flex;
}

.logo-header {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    list-style-type: none;
    font-weight: 700;
}

.links-header {
    display: flex;
    align-items: center;
}

.links {
    list-style-type: none;
    color: #E5E7EB;
    margin: 10px;
    font-size: 22px;
}

.one-body {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

.one-awesome {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #F9FAF8;
}

.one-signup {
    background-color: #3882F6;
    width: 25%;
    height: 30px;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

.awesome-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    width: 70%;
}

.awesome-sub {
    font-size: 18px;
    color: #E5E7EB;
    width: 80%;
}

.one-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(113, 118, 130);
    width: 50%;
}

.placeholder {
    color: white;
}

/*Section-two*/

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 120px;
    padding-top: 50px;
}

.image-container {
    display: flex;
    width: 70%;
    padding: 50px;
}

.two-image {
    list-style-type: none;
    text-align: center;
}

.image-box {
    height: 160px;
    max-width: 100%;
    border: 4px solid rgb(100, 153, 253);
    border-radius: 14px;
}

.sub-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
}

.desc {
    font-size: 20px;
    color: rgba(71, 71, 71, 0.847);
}

/*Section-three*/

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 120px;
}

.quote {
    font-size: 38px; 
    color: #1F2937;
    width: 70%;
}

.author {
    margin-left: auto;
    margin-right: 200px;
    color: #1F2937;
    font-size: 22px; 
    font-weight: 700;
    
}

/*Section-four*/

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.center-body {
    display: flex;
    background-color: rgb(66, 132, 247);
    height: 35%;
    padding: 20px 150px;
    border: 1px solid white;
    border-radius: 8px;
}

.center-body-left {
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.action {
    font-size: 24px;
    font-weight: 700;
}

.directions {
    font-size: 18px;
}

.two-signup {
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid white;
    border-radius: 12px;
    width: 20%;
    height: 30%;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

/*Section-five*/

.section-five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.copyright {
    color: white;
    font-size: 18px;
}
